[DEFAULT]
build = cmake
scm = git

[fmtlib]
git.uri = https://github.com/fmtlib/fmt
git.revision = 5.0.0
dep_args =
    -Dfmt_DIR=${dp.build_dir}/install/usr/local/lib64/cmake/fmt

[fmtdemo]
git.uri = https://github.com/snewell/fmtdemo
no_install =
depends =
    fmtlib
cmake.args =
    ${fmtlib:dep_args}
